<section>
    <div class="grid grid-3col">
        <div>
            <div>
                <div class="paranoia-header">
                    <label>Alias</label>
                </div>
                <textarea name="system.secrets.aliases">{{system.secrets.aliases}}</textarea>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Sociedad Secreta</label>
                </div>
                <textarea name="system.secrets.secretSociety">{{system.secrets.secretSociety}}</textarea>
            </div>
        </div>
        <div>
            <div>
                <div class="paranoia-header">
                    <label>Objetivo secreto</label>
                </div>
                <textarea name="system.secrets.secretObjective">{{system.secrets.secretObjective}}</textarea>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Poder Mutante</label>
                </div>
                <textarea name="system.secrets.mutantPower">{{system.secrets.mutantPower}}</textarea>
            </div>
        </div>
        <div>
            <div>
                <div class="paranoia-header">
                    <label>Favores Grupo de Servicio</label>
                </div>
                <textarea name="system.secrets.serviceGroupFavors">{{system.secrets.serviceGroupFavors}}</textarea>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Favores Sociedad Secreta</label>
                </div>
                <textarea name="system.secrets.secretSocietyFavors">{{system.secrets.secretSocietyFavors}}</textarea>
            </div>
        </div>
    </div>
    <div>
        <div class="paranoia-header">
            <label>Equipamiento ilegal (NO USAR A LA VISTA)</label>
        </div>
        <textarea name="system.secrets.treasonousGear">{{system.secrets.treasonousGear}}</textarea>
    </div>
    <div>
        <div class="paranoia-header">
            <label>Evidencias (Para chantajear)</label>
        </div>
        <textarea name="system.secrets.evidence">{{system.secrets.evidence}}</textarea>
    </div>
    <div>
        <div class="paranoia-header">
            <label>NO OLVIDES TUS NOTAS</label>
        </div>
        <textarea name="system.secrets.notes">{{system.secrets.notes}}</textarea>
    </div>
</section>
