<section class="grid grid-2col">
    <div>
        <div class="paranoia-header">
            <label for="paranoia-mission-objectives">Objetivos de la Misión</label>
        </div>
        <textarea class="paranoia-role-textarea" name="system.missionObjectives"
            placeholder="Mission Objective(s)">{{system.missionObjectives}}</textarea>
    </div>
    <div>
        <div class="paranoia-header">
            <label for="paranoia-gear">Equipamiento Asignado</label>
        </div>
        <textarea class="paranoia-role-textarea" name="system.assignedGear"
            placeholder="Assigned Gear">{{system.assignedGear}}</textarea>
    </div>
</section>
